@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "bootstrap/scss/bootstrap";

body {
    background-image: url('/resources/img/train.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 20%;
}